/* NavBar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* NavBar logo */
.navbar-logo {
    font-size: 1.8rem; /* Slightly larger for emphasis */
    font-weight: bold;
    color: #007bff; /* A distinct color for the logo */
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar-logo div:hover {
    color: #007bff; /* Slightly darker color on hover */
}

/* NavBar menu */
.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu a,
.navbar-menu button {
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu button:hover {
    color: #007bff; /* Harmonize hover effects */
}

/* Specific styling for the Discover NavLink */
.navbar-menu .active {
    border-bottom: 2px solid #007bff; /* Adds an underline effect to the active link */
    padding-bottom: 5px;
}

/* Adjustments for buttons */
.navbar-menu button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-menu button:hover {
    background-color: #0056b3;
}

/* Form and input styles remain unchanged */
.login-form-container {
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}
